.city {
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  padding: 2rem 8%;
  margin-left: 2rem;
}

.city p {
  /* margin-top: 10px; */
  text-transform: uppercase;
  letter-spacing: 0.05vw;
  font-size: 1vw;
}

.city-temp {
  /* font-size: 5rem; */
  font-size: 1vw;
  font-weight: bold;
  /* margin-top: 10px; */
  margin-top: 0.5rem;
  color: #1e2432;
  text-align: center;
}

.city sup {
  font-size: 0.5vw;
}

.city-name {
  font-size: 1.5vw;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 1vh;
  height: 20vh;
  /* width: 100px; */
  /* height: 100px; */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
