.f-button.clicked,
.c-button.clicked {
  background-color: pink;
}

header {
  /* position: fixed; */
  background: #b694e952;
  width: 100vw;
  height: 5vh;
  margin-top: -10px;
  margin-left: -10px;
}

header p {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}