.f-button.clicked,
.c-button.clicked {
  background-color: pink;
}

header {
  z-index: 3;
  position: fixed;
  display: flex;
  background: rgb(183, 153, 215);
  width: 100vw;
  height: 5vh;
  margin-top: -10px;
  margin-left: -10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header p {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}