.result-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
  margin-top: 2vh;
}

.close-button {
  height: 5vh;
  padding: 1vh;
  border-radius: 100%;
  background: white;
}

.close-button:hover {
  background: rgb(248, 74, 103);
}