.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
  margin-top: 2vh;
}

.result-display {
  gap: 5vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloth-img {
  height: 40vh;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 2em;
}

.close-button,
.save-button {
  height: 5vh;
  padding: 1vh;
  border-radius: 100%;
  background: white;
}

.save-button:hover {
  background: rgba(255, 192, 203, 0.728);
}

.close-button:hover,
.save-button.clicked {
  background: rgb(248, 74, 103);
}

