@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@700&display=swap');

html {
  background: rgb(238,174,202);
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  background-size: 400% 500%;
  animation: background-animation 20s ease-in-out infinite;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

.home-button {
  margin-top: 100px;
}

.home-button {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:calc(100vh / 8);
  height:calc(100vh / 8);
  margin-left: 3vw;
  border-radius: 50%;
  background: #94bbe9;
  box-shadow:  9px 9px 18px #81a3cb,
              -9px -9px 18px #a7d3ff;
}

.home-button:hover {
  border-radius: 125px;
  background: #c781a0;
  background: #94bbe9;
  box-shadow:  inset 9px 9px 18px #81a3cb,
              inset -9px -9px 18px #a7d3ff;
}

@keyframes background-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@media screen and (orientation: portrait) {
  .home-page {
    gap: 5vh !important;
  }

  .home-page input {
    margin-top: 6vh;
  }

  .search-container {
    flex-direction: column;
  }
  
  .search-input {
    width: 60vw !important;
  }

  .welcome {
    margin-top: 8vh;
    gap: 0 !important;
    flex-direction: column;
  }

  .welcome p {
    margin-top: 10vh;
    order: 1;
  }

  .welcome-rabbits {
    order: 2;
    margin-top: -5vh;
    height: 40vh !important;
  }

  .result-container {
    width: 80vw !important;
  }

  .result-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .result-line:nth-child(2) {
    height: 10px !important;
  }

  .result-display {
    display: flex;
    flex-direction: column;
  }

  .weather-card {
    margin-right: 0 !important;
  }

  .flip-card-inner {
    padding: 50% 40% !important;
  }

  .single-view .flip-card-inner {
    padding: 50% 30% !important;
  }

  .slide-bar {
    height: 10vh !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .front, .back {
    margin-top: 3vh;
    margin-left: 0 !important;
    height: 30vh !important;
    padding: 0 !important;
    width: 50vw !important;
  }

  .daily-item {
    width: 80vw;
  }

  .single-view .daily-item {
    width: 70vw;
  }

  .city-name,
  .city-temp{
    font-size: 1rem !important;
  }

  .city-name sup {
    font-size: 0.8rem !important;
  }

  .city-temp sup,
  .city p {
    font-size: 0.5rem !important;
  }

  .city-icon {
    height: 10vh !important;
  }

  .cloth-img,
  .single-view .cloth-img {
    height: auto !important;
    width: 40vw !important;
    margin-top: 15rem;
  }

  .cloth-card button {
    margin-top: 18rem !important;
  }

  .forecast-container {
    margin-top: 25rem !important;
  }

  .single-view .forecast-container {
    margin-top: 12rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-saves-message {
    text-align: center;
    width: 80vw !important;
    margin-left: 8% !important;
  }
  
  .savedCards {
    flex-direction: column;
    margin-top: 2rem !important;
  }

  .saved-card {
    margin-top: 0 !important;
  }

  .city-name {
    width: 80vw !important;
    text-align: center;
  }

  .saved-card .city-name {
    height: 15vh !important;
  }

}